body    {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
}

.bg {
    background-color: #1F2937;
    padding: 7px 120px 0 120px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

ul  {
    display: flex;
    gap: 20px;
}

li   {
    list-style-type: none;
}

a    {
    text-decoration: none;
    color: #e5e7eb;
}

.body1  {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.left-main {
    color:#f9faf8;
    font-size: 48px; 
    font-weight: 900;
}

.left-text  {
    color: #e5e7eb;
    font-size: 18px;
    padding: 0 0 5px 0;
}

.sign-up-a, .sign-up-b    {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 8px 30px;
    margin-bottom: 70px;
}

.body1-right    {
    display: flex;
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
}

.body2  {
    display: flex;
    flex-direction: column;
}

.b2-upper   {
    display: flex;
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    margin: 20px 0;
}

.b2-middle  {
    display: flex;
    gap: 50px;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.b2-inside  {
    max-width: 200px;
}

.buah {
    width: 80px;
    height: 80px;
    border: 5px solid blue;
}

.f-upper  {
    background-color: #e5e7eb;
    padding: 30px 400px;
}

.fup-quote {
    color:#1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.fup-name   {
    font-weight: bold;
    text-align: right;
}

.f-middle    {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 20px 70px;
}

.f-middle-left  {
    display: flex;
    color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
}

.fml-title  {
    font-size: 18px;
    font-weight: 700;
}

.sign-up-b  {
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    border: 2px solid white;
}

.f-lower    {
    background-color: #1F2937;
    color: #e5e7eb;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0;
    flex-shrink: 0;
}